@using Microsoft.AspNetCore.Identity
@using Joya.Models

@model Joya.Models.RingFilterViewModel
@{
    ViewData["Title"] = "Index";
}
    <div  align="center">
        <h1>Rings Collection</h1>
        <br />
        <form asp-controller="Rings" asp-action="Index" method="get">
            <p>
                @Html.DropDownList("RingType", (SelectList)Model.Types, "Select Ring Type")
                @Html.TextBox("SearchString", null,  new { placeholder = "Color" })
                <input type="submit" value="Filter" />


            </p>
        </form>
    </div>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <partial name="AdminRingView" />
}
else
{
    <partial name="UserRingView" />

}


