/* CSS Document */
html, body {
    height: 100%;
    width: 100%;
}

/*.my-nav {
    background-color: rgba(0,0,0,0.70) !important;
}

    .my-nav .nav-link {
        color: #ffffff;
        font-size: 18px;
    }

        .my-nav .nav-link:hover {
            color: LimeGreen;
        }*/
.img-fluid {
    max-width: 100%;
    height: auto;
}

.fa-bars {
    color: white;
}

#home {
    background-image: url(../img/major.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.landing-text {
    position: absolute;
    top: 38%;
    text-align: center;
    width: 100%;
    color: white;
}

.landingheading1 {
    font-size: 70px;
    text-transform: capitalize;
}

.landingheading2 {
    font-size: 35px;
    text-transform: capitalize;
}

#logo {
    width: 40px
}

/*about session start*/
.top-heading p {
    width: 100%;
    text-align: center;
    color: #787878;
    font-size: 70px;
    text-transform: capitalize;
}

.card1, .card2, .card3 {
    text-align: center;
    border: none;
    border-radius: 0px 30px 0px 30px;
    box-shadow: -webkit-box-shadow: -19px 19px 43px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: -19px 19px 43px 0px rgba(0,0,0,0.61);
    box-shadow: -19px 19px 43px 0px rgba(0,0,0,0.61);
}

.card i {
    color: LimeGreen;
    font-size: 60px;
    margin-top: 25px;
}


.card .card-title {
    font-weight: bold;
    font-size: 25px;
    color: dimgray;
}

.card .card-text {
    color: #737373;
    font-weight: 600;
}

.card1, .card3 {
    background-color: rgba(0,0,0,0.1);
    transition: 1s;
}

    .card1:hover, .card3:hover {
        background-color: rgba(0,0,0,0.05);
        transition: 1s;
    }

.card2 {
    background-color: rgba(0,0,0,0.05);
    transition: 1s;
}

    .card2:hover {
        background-color: rgba(0,0,0,0.1);
        transition: 1s;
    }

/*about session end*/


/*why u come here start*/

.custom-btn {
    background-color: white;
    border-color: LimeGreen;
    color: dimgray;
    transition: 1s;
}

    .custom-btn:hover {
        background-color: LimeGreen;
        border-color: white;
        color: white;
        transition: 1s;
    }

.bg-gray {
    background-color: #f0f0f0;
}

.hero-heading {
    color: LimeGreen;
    font-size: 35px;
}

.hero-paragraph {
    color: #767676;
    font-size: 18px;
}

.hero-img {
    border-radius: 0px 30px 0px 30px;
}

/*why u come here end*/


/*Reasons to Visit Us start*/
.reason-to-visit {
    background-image: url(img/4.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.card4 {
    background-color: transparent;
    border: none;
}

.green-text {
    color: LimeGreen;
}

.card4 .card-title {
    color: LimeGreen;
}

.card4 .card-text {
    color: aliceblue;
    font-size: 18px;
}

/*Reasons to Visit Us end*/

/*team start*/

.card-team {
    border: none
}

    .card-team .card-img-top {
        border-radius: 0px 30px 0px 30px;
        box-shadow: -webkit-box-shadow: -18px 17px 50px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: -18px 17px 50px -12px rgba(0,0,0,0.75);
        box-shadow: -18px 17px 50px -12px rgba(0,0,0,0.75);
    }

/*team end*/



/*paralalxeffect start*/
.proud {
    background-image: url(/img/5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}


/*paralalxeffect end*/



/*blog start*/

.card-blog {
    border: none;
}

    .card-blog .card-img-top {
        border-radius: 0px 30px 0px 30px;
    }

/*blog end*/


/*footer start*/

/*#myFooter {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    font-size: 20px;

}*/
footer {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    font-size: 20px;
    height:60px;

}
#myVideo {
    /*position: fixed;*/
    /*right: 0;*/
    /*bottom: 0;*/
    min-width: 100%;
    /*min-height: 90%;*/
}
.container1 {
    position: relative;
}
.container1 video {
    position: relative;
    z-index: 0;
}
/* Add some content at the bottom of the video/page */
.content {
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
    color: white;
    left: 0;
    z-index: 1;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 60px; /* Footer height */
}
